.analytics {
  width: 95vw;
  height: 88vh;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.analytics-heading{
    font-size: x-large;
    padding: 10px;
    margin: 0px;
    color: #565656;
}

.analytics-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.analytics-dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

